.app-component {
  height: 100vh;
  display: flex;
  flex-direction: column;
}

.city-state-container {
  padding-top: 10%;
  height: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  text-align: center;
  background-color: rgba(252,90,44,.89);
}

.city-state-header {
  color: white;
}

.header-component {
  background-color: rgba(252,90,44,.89);
  color: white;
  padding: 5px 5px 5px 15px;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
}

.header-component {
  color: white;
}
