.app-component {
  height: 100vh;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
}

.app-component .background {
  position: absolute;
  height: 100vh;
  width: 100vw;
  z-index: -1;
}

.app-component .background svg {
  height: 100vh;
  width: 100vw;
}

.city-state-container {
  height: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  text-align: center;
}

.city-state-header {
  color: white;
}

.header-component {
  background-color: rgba(252,90,44,.89);
  color: white;
  padding: 5px;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
}

.header-component {
  color: white;
}
