.app-component {
  height: 90vh;
  display: flex;
  flex-direction: column;
}

.city-state-container {
  height: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  text-align: center;
}

.city-state-header {
  color: white;
}

.header-component {
  background-color: rgba(252,90,44,.89);
  color: white;
  padding: 5px 5px 5px 10px;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
}

.header-component {
  color: white;
}
